# Espaço Amostral

Definições:

"*For a random experiment E, the set of all possible outcomes of E is called the sample space
and is denoted by the letter S . For the coin-toss experiment, S would be the results “Head”
and “Tail”, which we may represent by S = {H, T }. A sample space is (usually) represented by a data frame, that is, a rectangular collection of variables.*" - **G. Jay Kerns in Introduction to Probability and Statistics with R**

"*Denominamos espaço amostral associado a um exeperimento o conjunto de seus resultados possíveis*" - **Carlos Dandas no livro Noções Básicas de Probabilidade - Edusp.**

In [8]:
library(prob)

tosscoin(3) #The number 3 tells tosscoin that we only want to toss the coin three times

  toss1 toss2 toss3
1 H     H     H
2 T     H     H
3 H     T     H
4 T     T     H
5 H     H     T
6 T     H     T
7 H     T     T
8 T     T     T

In [9]:
rolldie(1)

  X1
1 1
2 2
3 3
4 4
5 5
6 6

In [16]:
head(rolldie(3, nside=4))#would be used to roll a 4-sided die three times.

  X1 X2 X3
1 1  1  1
2 2  1  1
3 3  1  1
4 4  1  1
5 1  2  1
6 2  2  1

In [11]:
head(cards())

  rank suit
1 2    Club
2 3    Club
3 4    Club
4 5    Club
5 6    Club
6 7    Club

# Amostragem de Urnas

Boa parte dos eventos aleatórios são análogos a obtenção de uma amostra retirada de uma urna com bolinhas que contenham alguma marcação. 

"Tossing a coin twice is equivalent to selecting two balls labeled H and T from an urn, with replacement. The die-roll experiment is equivalent to selecting a ball from an urn with six elements, labeled 1 through 6."

### Ordenado com Reposição (quando a ordem importa) $N^n$

Definição: "*Uma amostra é dita ordenada se os seus elementos forem ordenados, isto é, se duas amostras com os mesmos elementos, porém em ordens distintas, forem consideradas diferentes.*" **Carlos Dandas no livro Noções Básicas de Probabilidade - Edusp.**

O número de amostras ordenadas com reposição de tamanho n, de um conjunto com N elementos é igual a $N^n$.

In [15]:
# (2, 1) é diferente de (1, 2)
urnsamples(x=1:3, size=2, replace = TRUE, ordered = TRUE)

  X1 X2
1 1  1
2 2  1
3 3  1
4 1  2
5 2  2
6 3  2
7 1  3
8 2  3
9 3  3

"This experiment is equivalent to rolling a 3-sided die twice, which we could have accomplished with rolldie(2, nsides = 3)"

In [14]:
rolldie(2, nsides = 3)

  X1 X2
1 1  1
2 2  1
3 3  1
4 1  2
5 2  2
6 3  2
7 1  3
8 2  3
9 3  3

### Ordenado sem Reposição $(N)_n$

O número de amostras ordenadas sem reposição de tamanho n, de um conjunto de N elementos, que será denotado por:

$(N)_n = N(N-1)...(N-n+1)$

Exemplo:

$(20)_3 = \frac{20!}{(20-3)!} =  20.19.18 = 6840$

In [18]:
# não tem como tirar (1, 1), (2, 2) e (3, 3)
# pois o número não retorna a urna.
urnsamples(1:3, size = 2, replace = FALSE, ordered = TRUE)

  X1 X2
1 1  2
2 2  1
3 1  3
4 3  1
5 2  3
6 3  2

In [20]:
# preciso selecionar 2 de 3 pessoas (Cloves, Ivan e Ítalo)
# para assumirem as posições X1 e X2 na empresa.

# essas seriam as possíveis esolhas
urnsamples(c("Cloves", "Ivan", "Ítalo"), size = 2, replace = FALSE, ordered = TRUE)

  X1     X2
1 Cloves Ivan
2 Ivan   Cloves
3 Cloves Ítalo
4 Ítalo  Cloves
5 Ivan   Ítalo
6 Ítalo  Ivan

### Não Ordenado e sem Reposição $C_{N,n} = \frac{(N)_n}{P_n} = \frac{N!}{n!(N-n)!} = \binom{N}{n}$

In [21]:
# preciso selecionar 2 de 3 pessoas (Cloves, Ivan e Ítalo)
# para participarem de uma comissão.

# essas seriam as possíveis esolhas
urnsamples(c("Cloves", "Ivan", "Ítalo"), size = 2, replace = FALSE, ordered = FALSE)

  X1     X2
1 Cloves Ivan
2 Cloves Ítalo
3 Ivan   Ítalo

### Não Ordenado e com Reposição

In [25]:
# preciso sortear 2 brindes para uma lista de 
# nomes contendo 3 pessoas (Cloves, Ivan e Ítalo).
# Uso um software para escolher de forma aleatória
# os 2 nomes da lista.

# esses seriam os possíveis sorteados
urnsamples(c("Cloves", "Ivan", "Ítalo"), size = 2, replace = TRUE, ordered = FALSE)

  X1     X2
1 Cloves Cloves
2 Cloves Ivan
3 Cloves Ítalo
4 Ivan   Ivan
5 Ivan   Ítalo
6 Ítalo  Ítalo