# MNIST Dataset: Digit Recognizer

Study I did from [this](https://www.kaggle.com/ngbolin/mnist-dataset-digit-recognizer) article.
The data can be download [here](https://www.kaggle.com/oddrationale/mnist-in-csv).

In [1]:
import pandas as pd
import numpy as np

np.random.seed(1212)

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers

Using TensorFlow backend.

In [2]:
df_train = pd.read_csv("mnist-in-csv/mnist_train.csv")
df_test = pd.read_csv("mnist-in-csv/mnist_test.csv")

In [3]:
df_train.shape

(60000, 785)

In [4]:
df_train.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_test.shape

(10000, 785)

In [6]:
df_test.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Splitting into training and validation dataset

In [7]:
df_features = df_train.iloc[:,1:785]
df_label = df_train.iloc[:, 0]

X_test = df_test.iloc[:, 0:784]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_cv, y_train, y_cv = train_test_split(df_features, df_label,
                                               test_size = 0.2,
                                               random_state = 1212)

In [10]:
X_train.head()

,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,1x10,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
11200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14588,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9064,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28044,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_train.shape

(48000, 784)

In [12]:
X_cv.shape

(12000, 784)

In [13]:
X_test.shape

(10000, 784)

In [14]:
X_train = X_train.as_matrix().reshape(48000, 784)
X_cv = X_cv.as_matrix().reshape(12000, 784)

/home/cloves/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/home/cloves/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [15]:
X_test = X_test.as_matrix().reshape(10000, 784)

/home/cloves/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

# Data cleaning, normalization and selection

In [16]:
print((min(X_train[1]), max(X_train[1])))

(0, 255)

In [17]:
# Feature Normalization 
X_train = X_train.astype('float32'); X_cv= X_cv.astype('float32'); X_test = X_test.astype('float32')
X_train /= 255; X_cv /= 255; X_test /= 255

In [18]:
# Convert labels to One Hot Encoded
num_digits = 10
y_train = keras.utils.to_categorical(y_train, num_digits)
y_cv = keras.utils.to_categorical(y_cv, num_digits)

# Model Fitting

In [19]:
# Input Parameters
n_input = 784 # number of features
n_hidden_1 = 300
n_hidden_2 = 100
n_hidden_3 = 100
n_hidden_4 = 200
num_digits = 10

In [20]:
Inp = Input(shape=(784,))

x = Dense(n_hidden_1, activation='relu', name = "camada_input")(Inp)
x = Dense(n_hidden_2, activation='relu', name = "camada_2")(x)
x = Dense(n_hidden_3, activation='relu', name = "camada_3")(x)
x = Dense(n_hidden_4, activation='relu', name = "camada_4")(x)

output = Dense(num_digits, activation='softmax', name = "camada_output")(x)

WARNING: Logging before flag parsing goes to stderr.
W0726 19:20:03.620094 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W0726 19:20:03.642037 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0726 19:20:03.647150 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [21]:
model = Model(Inp, output)

In [22]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 784)               0
_________________________________________________________________
camada_input (Dense)         (None, 300)               235500
_________________________________________________________________
camada_2 (Dense)             (None, 100)               30100
_________________________________________________________________
camada_3 (Dense)             (None, 100)               10100
_________________________________________________________________
camada_4 (Dense)             (None, 200)               20200
_________________________________________________________________
camada_output (Dense)        (None, 10)                2010
=================================================================
Total params: 297,910
Trainable params: 297,910
Non-trainable params: 0
_________________________________________________________________

In [23]:
# insert hyperparameters
learning_rate = 0.1
training_epochs = 20
batch_size = 100
sgd = optimizers.SGD(lr=learning_rate)

In [24]:
# We rely on the plain vanilla Stochastic Gradient Descent as our optimizing methodology
model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

W0726 19:20:09.467089 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0726 19:20:09.490990 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3295: The name tf.log is deprecated. Please use tf.math.log instead.

In [25]:
history1 = model.fit(X_train, y_train,
                     batch_size = batch_size,
                     epochs = training_epochs,
                     verbose = 2,
                     validation_data=(X_cv, y_cv))

W0726 19:20:11.270622 139653753472832 deprecation.py:323] From /home/cloves/.local/lib/python3.6/site-packages/tensorflow/python/ops/math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W0726 19:20:11.506963 139653753472832 deprecation_wrapper.py:119] From /home/cloves/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 48000 samples, validate on 12000 samples
Epoch 1/20
 - 4s - loss: 1.5396 - acc: 0.5927 - val_loss: 0.6354 - val_acc: 0.8255
Epoch 2/20
 - 3s - loss: 0.4701 - acc: 0.8698 - val_loss: 0.3750 - val_acc: 0.8899
Epoch 3/20
 - 3s - loss: 0.3422 - acc: 0.9023 - val_loss: 0.3097 - val_acc: 0.9087
Epoch 4/20
 - 3s - loss: 0.2909 - acc: 0.9174 - val_loss: 0.2677 - val_acc: 0.9223
Epoch 5/20
 - 3s - loss: 0.2572 - acc: 0.9258 - val_loss: 0.2385 - val_acc: 0.9298
Epoch 6/20
 - 3s - loss: 0.2305 - acc: 0.9336 - val_loss: 0.2156 - val_acc: 0.9357
Epoch 7/20
 - 3s - loss: 0.2097 - acc: 0.9393 - val_loss: 0.1944 - val_acc: 0.9415
Epoch 8/20
 - 3s - loss: 0.1920 - acc: 0.9444 - val_loss: 0.1897 - val_acc: 0.9424
Epoch 9/20
 - 3s - loss: 0.1774 - acc: 0.9490 - val_loss: 0.1698 - val_acc: 0.9482
Epoch 10/20
 - 3s - loss: 0.1643 - acc: 0.9534 - val_loss: 0.1595 - val_acc: 0.9513
Epoch 11/20
 - 3s - loss: 0.1528 - acc: 0.9559 - val_loss: 0.1568 - val_acc: 0.9527
Epoch 12/20
 - 4s - loss: 0.1426 - acc: 0.9593 - val_loss: 0.1415 - val_acc: 0.9574
Epoch 13/20
 - 3s - loss: 0.1337 - acc: 0.9618 - val_loss: 0.1336 - val_acc: 0.9599
Epoch 14/20
 - 3s - loss: 0.1260 - acc: 0.9638 - val_loss: 0.1280 - val_acc: 0.9620
Epoch 15/20
 - 3s - loss: 0.1186 - acc: 0.9662 - val_loss: 0.1244 - val_acc: 0.9626
Epoch 16/20
 - 3s - loss: 0.1120 - acc: 0.9673 - val_loss: 0.1176 - val_acc: 0.9653
Epoch 17/20
 - 4s - loss: 0.1059 - acc: 0.9695 - val_loss: 0.1166 - val_acc: 0.9642
Epoch 18/20
 - 3s - loss: 0.1002 - acc: 0.9715 - val_loss: 0.1120 - val_acc: 0.9663
Epoch 19/20
 - 3s - loss: 0.0944 - acc: 0.9733 - val_loss: 0.1102 - val_acc: 0.9669
Epoch 20/20
 - 3s - loss: 0.0901 - acc: 0.9742 - val_loss: 0.1022 - val_acc: 0.9686